@import '../../../styles/variaveis';

.main {
    display: flex;
    flex-direction: column;
    
    padding: 2em 3em;

    h2 {
        font-size: 24px;
        font-family: $fonte-subtitulo;
        text-transform: uppercase;
        font-weight: 600;
    }
}

.cards {
    margin: 2vh 4vh;

    display: flex;

    &__card {
        background-color: rgba(0, 0, 0, 0.897);
        width: 240px;
        height: 200px;

        color: white;
        cursor: pointer;

        border-radius: 10px;
        box-shadow: 5px 5px 4px rgba(80, 80, 80, 0.705);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 2vh;

        h2 {
            margin: .1em 0;
        }

        h3 {
            font-size: 15px;
            font-family: $fonte-subtitulo;
            font-weight: 450;
        }
    }
}