@import '../../styles/variaveis';

.button {
    background-color: $azul;
    color: white;

    font-family: $fonte-principal;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1px;
    text-transform: uppercase;

    border: none;
    border-radius: 20px;

    padding: .3em 1.5em;

    .link {
        color: white;
        text-decoration: none;
    }
}


