@import '../../styles/variaveis';

button {
        background-color: transparent;
        border: none;
    }

a {
    font-weight: 600;
    background: white;
    color: $azul-escuro;
}

.voltar {
    background-color: rgba(255, 255, 255, 0.575);
    width: 30px;
    padding: 5px;
    border-radius: 100%;
}