@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

// tipografia
$fonte-principal: 'Poppins', sans-serif;
$fonte-logo: 'Staatliches', cursive;
$fonte-subtitulo: 'Barlow Condensed', sans-serif;
$fonte-anton: 'Anton', sans-serif;

// cores
$azul-principal: #0482f1;
$azul-escuro: #001489;
$branco: #f5f5f5;
$cinza: #d3d3d3;
$cinza-texto: #9D9D9D;
$cinza-escuro: #2b2b2b;
$preto-fundo: #191919;
$preto-fundo-tranparent: rgba(25, 25, 25, 0.5);
$azul: #0d20d3;
$ciano: #0FB6F6;
