@import '../../styles/variaveis';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.porqueNosEscolher {
    background-color: $branco;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 6vh 0 0 0;

    &__div {
        background-color: $azul-principal;
        width: 75%;

        img {
            width: 100%;
            position: relative;
            top: -10px;
            left: 12px;
        }
    }

    &__titulo {
        width: 80%;
        color: $azul-principal;

        font-size: 40px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 4px;
        line-height: 48px;
        font-family: $fonte-logo;

        margin: 5vh 0 3vh 0;
    }

    &__subtitulo {
        font-family: $fonte-subtitulo;
        font-size: 20px;
        font-weight: 600;
        font-style: italic;
        color: $cinza-texto;
        letter-spacing: 1px;
    }

    &__texto {
        width: 85%;

        font-size: 18px;
        font-family: $fonte-subtitulo;
        font-weight: 500;
        text-align: center;
        line-height: 24px;
        letter-spacing: 2px;

        margin: 2vh 0 0 0;
    }
}

.botao {
    margin-top: 2vh;
}

.destaques {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__titulo {
        color: $ciano;

        font-family: $fonte-subtitulo;
        font-weight: 500;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 1px;

        border-bottom: 1px solid rgb(160, 160, 160);
        border-top: 1px solid rgb(160, 160, 160);

        padding: .2em .3em;

        margin: 4vh 0;
    }

    &__subtitulo {
        width: 80%;
        font-family: $fonte-logo;
        font-size: 26px;
        text-align: center;

        margin-bottom: 3vh;
    }

    &__carrousel {
        width: 100%;

        img {
            width: 100%;
        }
    }

    &__web {
        display: none;
    }
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (min-width: 1600px) {

    .right {
        width: 60%;
    }

    .porqueNosEscolher {
        flex-direction: row;
        justify-content: center;
        padding: 4vh;
        /* Reduzindo o padding no topo */

        margin-top: 4vh;
    }

    .porqueNosEscolher__div {
        width: 50%;
        /* Reduzindo a largura da div principal */
    }

    .porqueNosEscolher__titulo {
        width: 70%;
        /* Reduzindo a largura do título */
        font-size: 3.5rem;
        /* Ajustando o tamanho da fonte do título */
        line-height: 4rem;
        margin: 3vh 0 1.5vh 0;
        /* Ajustando as margens do título */
    }

    .porqueNosEscolher__subtitulo {
        font-size: 1.8rem;
        /* Ajustando o tamanho da fonte do subtítulo */
        margin-bottom: 2.5vh;
        /* Ajustando a margem inferior do subtítulo */
    }

    .porqueNosEscolher__texto {
        width: 60%;
        /* Reduzindo a largura do texto */
        font-size: 1.6rem;
        /* Ajustando o tamanho da fonte do texto */
        line-height: 2rem;
        margin-top: 1.5vh;
        /* Ajustando a margem superior do texto */
    }

    .destaques__titulo {
        font-size: 2rem;
        /* Ajustando o tamanho da fonte do título dos destaques */
        margin: 3.5vh 0;
        /* Ajustando as margens do título dos destaques */
    }

    .destaques__subtitulo {
        width: 70%;
        /* Reduzindo a largura do subtítulo dos destaques */
        font-size: 2.2rem;
        /* Ajustando o tamanho da fonte do subtítulo dos destaques */
        margin-bottom: 2.5vh;
        /* Ajustando a margem inferior do subtítulo dos destaques */
    }

    .destaques__carrousel {
        display: none;
    }

    .destaques__web {
        width: 90%;
        display: flex;

        justify-content: space-evenly;

        margin-bottom: 5vh;
        
    }

    /* ... outras modificações conforme necessário */
}