@import '../../styles/variaveis';

.navBar {
    /* background-color: $branco; */
    width: 100vw;
    height: 10vh;

    padding: 0 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__fotoPerfil {
        width: 60px;
        height: 60px;
        border-radius: 100%;
    }
}

.usuario {
    display: flex;
    align-items: center;

    &__dados {
        color: white;

        margin: 0 1em;

        &_nome {
            font-weight: 400;
            letter-spacing: 1px;
        }

        &_status {
            color: $verde;
            font-size: 12px;

            display: flex;
            align-items: center;

            strong {
                font-size: 28px;
                margin-right: .1em;
            }
        }
    }
}

.foto {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.568);
    
    /* position: absolute;
    left: 0;
    top: 0;

    padding: 1vh 2vh; */

    display: flex;
}

.menu {
    /* position: absolute;
    right: 0;
    top: 0;

    padding: 2.5vh 3vh; */
    padding-right: 10px;
    visibility: 0%;
}

.shadow {
    background-color: $cinza-escuro;
}

.dark {
    background: url('../../assets/imagens/fundos/fundoAdmin2.png');
    background-repeat: no-repeat;
    background-size: cover;
}