
.carrousel {
    display: flex;
    justify-content: center;

    &__slide {
        text-align: center;
    }
}

.imgExercicio {
        width: 320px;
        /* border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px; */
        border-radius: 20px;
    }