@import '../../styles/variaveis';

.carrouselDestaques {
    background-color: $preto-fundo;
    display: flex;
    justify-content: center;

    &__slide {
        text-align: center;
    }

    margin: -1px;
}

.carrouselExercicio {
    background-color: none;
    width: 100%;

    display: flex;
    justify-content: center;

    &__slide {
        text-align: center;
    }
}

.imgExercicio {
    width: 100%;
    height: 100vh;
}

.img {
        width: 320px;
        height: auto;
        /* border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px; */
    }

.btnNext {
    top: 45vh;
    right: 4vw;
    position: absolute;


    z-index: 3;
}