@import '../../styles/variaveis';
@import '../../styles/globalStyles.scss';

.main {
    background-color: $branco;
    font-family: $fonte-principal;

    padding: 2vh;

    

    &__titulo {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 1px;
    }

    .cards {
        width: 100%;
        height: auto;

        margin-top: 1vh;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
