@import '../../styles/variaveis';

.item {
    width: 80%;
    background-color: white; 

    border-radius: 5px;
    
    padding: .8em .6em;
    margin-bottom: 1em;

    h2 {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1px;

        margin-bottom: .3em;
    }

    p {
        font-size: 12px;
    }

    img {
        width: 20px;
        height: 20px;
    }
}

.info:first-child {
    transition: all .4s;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.418);
}

.config:nth-child(2) {
    transition: all .4s;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.418);
}